.section{
	padding: 0;
	margin: 0;
    background:
    url(https://www.facebook.com/photo?fbid=435430392163133&set=a.204545901918251);
  background-size: auto 100%, auto 100%;
  background-position: 0 100%, 0 0;
  background-repeat: repeat-x;
  cursor: ew-resize;
  min-height: 100vh;
  display: grid;
  place-items: center; 
  overflow: hidden;
}